@import "../../styles/mixins";

.hero {
  @apply py-16 flex relative;
  background: linear-gradient(45deg, rgba(#c27600, 1), rgba(#c27600, 0.6));
  min-height: 700px;

  &__background {
    @apply absolute left-0 top-0 w-full h-full object-cover;
    object-position: 0 20%;
    z-index: -1;
  }

  &__container {
    @apply container grid grid-cols-12 items-center;
  }

  &__text-container {
    @apply text-left col-span-10 md:col-span-8 lg:col-span-6;
    color: $white;
  }

  &__title {
    @apply drop-shadow-lg;
  }

  &__subtitle {
    @apply mt-8 font-light;
  }
}
