@import "../../styles/mixins";

.hero {
  @apply py-16 flex items-center relative;
  background: linear-gradient(45deg, rgba(#c27600, 0.8), rgba(#c27600, 0.8));
  min-height: 700px;

  &__background {
    @apply absolute left-0 top-0 w-full h-full object-cover;
    object-position: 0 20%;
    z-index: -1;
  }

  &__text-container {
    @apply mr-6 ml-6 md:mr-8 md:ml-8 text-center;
    color: $white;

    @include from("md") {
      width: 50%;
    }

    @include from("lg") {
      @apply text-left;
    }
  }

  &__title {
    @apply mb-4 drop-shadow-md;
    font-size: 52px;
    font-weight: 700;
    line-height: 50px;

    @include from("md") {
      font-size: 58px;
    }
  }
}
