// colors
$pizazz: #f39400;
$keppel: #42b7a3;
$green-kelp: #1f2d19;
$burnt-sienna: #ef7469;
$white: #fff;
$black: #000;

// fonts
$title-font: "Lexend", sans-serif;
// $title-font: "Darumadrop One", sans-serif;
$paragraph-font: "Lexend", sans-serif;

// viewports
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
