// colors
$pizazz: #F39400;
$keppel: #42B7A3;
$green-kelp: #1F2D19;
$burnt-sienna: #EF7469;
$white: #FFF;
$black: #000;

// fonts
$title-font: 'Darumadrop One', sans-serif;
$paragraph-font: 'Lexend', sans-serif;

// viewports
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
