@import "../../styles/mixins";

.navbar {
  $this: &;

  @apply p-4 md:p-6 flex justify-between items-center z-20;
  position: absolute;
  width: 100%;
  box-shadow: none;
  top: 0;

  &--light {
    color: $black;

    #{$this}__links {
      color: $black;
    }

    #{$this}__toggle-line,
    #{$this}__toggle-line::after,
    #{$this}__toggle-line::before {
      background: $black;
    }

    @include from(lg) {
      #{$this}__item:not(:last-child) {
        border-right: 1px solid $black;
      }

      #{$this}__links {
        color: $black;
      }
    }
  }

  &--dark {
    color: $white;

    #{$this}__links {
      color: $black;
    }

    #{$this}__toggle-line,
    #{$this}__toggle-line::after,
    #{$this}__toggle-line::before {
      background: $white;
    }

    @include from(lg) {
      #{$this}__item:not(:last-child) {
        border-right: 1px solid $white;
      }

      #{$this}__links {
        color: $white;
      }

      #{$this}__item img {
        filter: invert(1);
      }
    }
  }

  &__links {
    @apply p-8 absolute top-0 left-0 right-0 flex-col text-center items-center justify-center;
    display: none;
    background: $white;
    height: 100vh;

    @include from(lg) {
      @apply flex flex-row justify-end relative p-0;
      background: transparent;
      height: auto;
    }
  }

  &__item {
    @apply p-4;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    @include from(lg) {
      padding: 0 8px;
    }

    &-button {
      @apply flex items-center;
    }
  }

  &__toggle {
    @apply flex justify-center items-center;
    width: 50px;
    height: 50px;
    transition: 1s;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 20px;

    @include from(lg) {
      display: none;
    }

    &-line {
      margin: 0;
      display: block;
      width: 80%;
      height: 12%;
      transition: 1s;
    }

    &-line::before,
    &-line::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      transition: 1s;
    }
    &-line::before {
      top: -220%;
    }
    &-line::after {
      top: 120%;
    }
  }

  &--active {
    @media screen and (max-width: $lg) {
      position: sticky;

      .navbar {
        &__links {
          display: flex;
        }

        &__toggle {
          &-line,
          &-line::after,
          &-line::before {
            background: $black;
          }
        }
      }
    }
  }
}
